.container {
    pointer-events: none;
    height: 100%;
    width: 100%;
}
.svg {
    height: 100%;
    width: 100%;
}

.line {animation:line-cross1-draw 1s; stroke-dasharray: 150;}
@keyframes line-cross1-draw {
    0%{stroke-dashoffset: 150;}
    100%{stroke-dashoffset: 0;}
}