.container {
    position: fixed;
    pointer-events: none;
}

.line {animation:line-cross1-draw 1s; stroke-dasharray: 150;}
@keyframes line-cross1-draw {
    0%{stroke-dashoffset: 150;}
    100%{stroke-dashoffset: 0;}
}