.gameboard {
  height: 500px;
  width: 500px;
  padding: 20px;

  background-size: cover;
  background-image: url('../../../public/assets/images/grid.svg');
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: calc(100% / 3);
  align-items: center;
}

.scoreboard {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.active {
  border-bottom: 2px solid blue;
}
.score {
  text-align: center;
}