.gameboard {
  height: 500px;
  width: 500px;
  padding: 20px;

  background-size: cover;
  background-image: url('../../../public/assets/images/grid.svg');
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: calc(100% / 3);
  align-items: center;
}

.scoreboard {
  width: 500px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  line-height: 1.5;
}
.active {
  border-bottom: 2px solid blue;
}
.score {
  text-align: center;
}
.gameEndModal {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }
  1% {
      display: block;
      opacity: 0;
  }
  100% {
      display: block;
      opacity: 1;
  }
}

#fullsvg {
  left: 0px;
  top: 0px;
  position: fixed;
  margin: 0;
  pointer-events: none;
}